*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section{
    height: 100vh;
}
.mainContainer{
    height: 100vh;
    /* background-color: rgba(0, 0, 0, 0.900); */
    /* color: rgba(255, 255, 255, 0.900); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;

}

/* =================================================

First Section Designing

====================================================*/

.title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 150%;
}
.firstsection{
    text-align: center;
    background: url(../src/Components/Assets/blackring.jpg) bottom/center no-repeat;
}
.para{
    font-size: 30%;
    /* border: 1px solid red; */
}
.btn{
    padding: .3rem 1rem;
    border-radius: .3rem;
}



.header{
    height: 20rem;
    display: flex;
    flex-flow: row wrap;
    background-color: black;
    height: 5rem;
    align-items: center;
}
.header .image{
    background-size: cover;
    width: 20%;
}
.linkNav{
    color: white;
    text-decoration: none;
}
.header ol li{
    border: 1px solid transparent;
}
.header ol{
    font-size: 1.5rem;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    color: white;
    gap:1.5rem;
    width: 80%;
}
.active{
    color: red;
    border-bottom: 1px solid red;
}
